### Intellij ###
*.iml

## Directory-based project format:
.idea/

## File-based project format:
*.ipr
*.iws

### Maven ###
server/target/**
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties

### Java ###
*.class
# Package Files #
*.jar
*.war
*.ear